<div id=container>
    <div class=left>
        <div class="Upper">
            <img src="department.png" height="150px">
        </div>
        <div class="Lower">
            <img src="karmyogi_logo.png" height="150px" />
        </div>
    </div>
    <div class=Right>
        <h2>ADMINISTRATION LOGIN</h2>
        <div class="Form">
            <section>
                <label for="email">Email</label>
                <input name="email" type="email" />
            </section>
            <section>
                <label for="password">Password</label>
                <input name="password" type="password"/>
            </section>
            <p ><a href="#">Forgot Password?</a></p>
            <button>Login</button>
        </div>

    </div>
</div>>